<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.besafe">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="?android:attr/fingerprintAuthDrawable"
        android:label="@string/app_name"
        android:roundIcon="?android:attr/fingerprintAuthDrawable"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeSafe"
        tools:targetApi="31">
        <activity
            android:name=".exit"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar"
            android:parentActivityName=".Home"
            />
        <activity
            android:name=".notificationactivity"
            android:exported="false" />
        <activity
            android:name=".User_Contact"
            android:exported="false" />
        <activity
            android:name=".Emergency_msg"
            android:exported="true" />
        <activity
            android:name=".Register_Number"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Home"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BackgroundService"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".BackgroundService" />
    </application>

</manifest>